<div>
  <h1>{{title}}</h1>
  <nav>{{description}}</nav><br/>
  <input type="text" name="searchValue" [(ngModel)]="searchValue" placeholder="Szukaj" (keyup) = "onSearchValue()">
  <p>Szukam: {{searchValue}} </p>
  
  <ul>
    <li (click)="onSearchRok('2010')">2010</li>
    <li (click)="onSearchRok('2011')">2011</li>
    <li (click)="onSearchRok('2012')">2012</li>
    <li (click)="onSearchRok('2014')">2014</li>
    <li (click)="onSearchRok('2015')">2015</li>
  </ul>
    
  <p *ngIf="galleries">
    Ilość galerii: {{galleries.length}}
  </p>
  <div *ngIf="galleries"></div>
  <section class="container">
    <div *ngFor="let item of galleries">
      <h4>{{item.title}}</h4>
      <img src={{item.thumbUrl}} width="200px" height="140px"/>
      <p><small>{{item.dateCreated | polishDate}}</small></p>      
      <p>{{item.description}}</p>
    </div>
  </section>
</div>
